* {
    margin: 0;
    padding: 0;
}
 
html, body {
    width: 100%; 
}

button {
    width: 100%;
    height: 100%; 
    margin: 10px 0;
    z-index: 1;
    background-color: #05A1AC;
}

#map {
    width: 100%;
    height: 88vh;

}
