.input-group{
    margin-bottom: 20px;

} 
.titulo , .texto{
    text-align: center;
}
button{
    background-color: #05A1AC;
    position: absolute;
} 
#registro{
    display: inline-block;
}
#mapa{
    left: 200px;
    top: -16px;
}