body { 
    background-image: url('../img/fondo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 0;
    height: 660px;
}
.logo{
    width: 250px;
    height: 160px; 
    margin-left: 5em;
} 
.botones{
    position: absolute;
    text-align: center;
    margin-top: 25em;
}
.botones button{
    color: black;
    font-family: 'Lucida Sans', sans-serif;
    margin-right: 20px;
    display: inline-block;
}
.sign{
    background-color: #05A1AC;
}
